<!DOCTYPE html>
<html ng-app>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<link rel="stylesheet" href="css/bootstrap.min.css"></script>
		<script src="js/lib/angular.min.js"></script>
		<title>Clases Angular</title>
	</head>
	<body>
		<div class="container">
			<h1>Evaluación</h1>
			<h4>Angular 101</h4>
			<hr>
			<form action="">
				<label for="nombre">Nombre completo</label>
				<input type="text" name="nombre" ng-model="nombre" placeholder="Ingresa tu nombre" class="form-control">
				<br>
				<label for="trabajo">Lugar de Trabajo</label>
				<input type="text" name="trabajo" ng-model="trabajo" placeholder="Ingresa tu lugar de trabajo" class="form-control">
				<br>
				<label for="salario">Salario en Dólares</label>
				<input type="text" name="salario" ng-model="salario" placeholder="Ingresa tu salario en dólares" class="form-control">
			</form>
			<hr>
			<p>
				Nombre: {{ nombre | uppercase }}
				<br>
				Lugar de Trabajo: {{ trabajo | lowercase }}
				<br>
				Con un salario de: {{ salario | currency }}
			</p>
		</div>
	</body>
</html>